<div *ngIf="artikel">

    <h3>Podrobnosti artikla {{artikel.naziv}} za ceno {{artikel.cena}}</h3>

    <table>
        <tr >
            <td>Id artikla:</td>
            <td>{{artikel.idartikel}}</td>
        </tr>
        <tr>
            <td>Kolicina:</td>
            <td>{{artikel.kolicina}}</td>
        </tr>
        <tr>
            <td>Id prodajalca:</td>
            <td>{{artikel.prodajalec_idprodajalec}}</td>
        </tr>
    </table>


    <button (click)="nazaj()">Nazaj</button>
</div>
