<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card>
    <div class="list">
        <mat-list>
            <h2>Artikli</h2>

            <mat-list-item *ngFor="let artikel of artikli" class="list-item">
                <mat-icon matListIcon (click)="naPodrobnosti(artikel.idartikel)">description</mat-icon>
                <h4 mat-line (click)="naPodrobnosti(artikel.idartikel)">{{artikel.naziv}}</h4>
                <mat-slide-toggle [checked]="artikel.aktiviran == 1" *ngIf="jeProdajalec()" (change)="putActivity($event, artikel)">Aktiviraj</mat-slide-toggle>
                <div *ngIf="artikel.ocena && jeStranka()"><span class="rating">Rating: {{artikel.ocena}}</span></div>
                <div *ngIf="!artikel.ocena && jeStranka()"><small>Not yet rated</small></div>
                <p mat-line (click)="naPodrobnosti(artikel.idartikel)"> {{artikel.cena}} EUR</p>
            </mat-list-item>
        </mat-list>
    </div>
    <button *ngIf="jeProdajalec()" mat-raised-button color="primary" (click)="dodaj()">Dodaj</button>
</mat-card>

<style>
    .list-item:hover{
        cursor: pointer;
        background-color: darkgray;    
    }

    .rating {
        display: inline;
    }
</style>
