<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card *ngIf="artikel">
    <mat-card-title>Podrobnosti artikla {{artikel.naziv}}</mat-card-title>
    <mat-card-content>
        <table>
            <tr >
                <td>Artikel:</td>
                <td>{{artikel.naziv}}</td>
            </tr>
            <tr>
                <td>Opis:</td>
                <td>{{artikel.opis}}</td>
            </tr>
            <tr>
                <h3>Cena:</h3>
                <h3>{{artikel.cena}}</h3>
            </tr>
        </table>
    </mat-card-content>

    <button class="mat-raised-button mat-primary" (click)="nazaj()">Nazaj</button>
    <button *ngIf="jeProdajalec()" mat-raised-button color="primary" (click)="posodobi()">Posodobi</button>
    <button *ngIf="jeProdajalec()" mat-raised-button color="primary" (click)="zbrisi()">Zbrisi</button>
</mat-card>
