<mat-card *ngIf="stranka && jeProdajalec()">

    <mat-card-title>
        Podrobnosti stranke {{stranka.ime}} {{stranka.priimek}}
    </mat-card-title>
    <mat-card-content>
        <mat-card>
            <table>
                <tr>
                    <td>Id:</td>
                    <td>{{stranka.idstranka}}</td>
                </tr>
                <tr>
                    <td>Ime:</td>
                    <td>{{stranka.ime}}</td>
                </tr>
                <tr>
                    <td>Priimek:</td>
                    <td>{{stranka.priimek}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{stranka.email}}</td>
                </tr>
                <tr>
                    <td>Naslov:</td>
                    <td>{{stranka.naslov}}</td>
                </tr>
                <tr>
                    <td>Telefon:</td>
                    <td>{{stranka.telefon}}</td>
                </tr>
            </table>
        </mat-card>

    </mat-card-content>
    <button mat-raised-button color="primary" (click)="nazaj()">Nazaj</button>
    <button mat-raised-button color="primary" (click)="posodobi()">Posodobi</button>
    <button mat-raised-button color="primary" (click)="zbrisi()">Zbrisi</button>
</mat-card>
