<mat-toolbar *ngIf="jeAdmin()" color="primary">
    <span>Admin</span>
    <button mat-button (click)="goToProdajalci()">Prodajalci</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToProfile()">Profile</button>
    <button mat-raised-button color="accent" (click)=logout()>Logout</button>
</mat-toolbar>
<mat-toolbar *ngIf="jeProdajalec()" color="primary">
    <span (click)=goToHome()>Prodajalec</span>
    <button mat-button (click)=goToHome()>Artikli</button>
    <button mat-button (click)=goToStranke()>Stranke</button>
    <button mat-button (click)=goToNarocila2()>Naročila</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToProfile()">Profile</button>
    <button mat-raised-button color="accent" (click)=logout()>Logout</button>
</mat-toolbar>
<mat-toolbar *ngIf="jeStranka()" color="primary">
    <span (click)=goToHome()>Trgovina</span>
    <button mat-button (click)=goToHome()>Artikli</button>
    <button mat-button (click)=goToKosarica()>Košarica</button>
    <button mat-button (click)=goToNarocila()>Naročila</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToProfile()">Profile</button>
    <button mat-raised-button color="accent" (click)=logout()>Logout</button>
</mat-toolbar>
<mat-toolbar *ngIf="!jeStranka() && !jeProdajalec() && !jeAdmin()" color="primary">
    <span (click)=goToHome()>Trgovina</span>
    <button mat-button (click)="goToHome()">Artikli</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)=goToLogin()>Login</button>
    <button mat-raised-button color="accent" (click)=goToRegister()>Register</button>
</mat-toolbar>

<style>
.example-spacer {
  flex: 1 1 auto;
}
</style>