<mat-toolbar *ngIf="jeAdmin()" color="primary">
    <span>Admin</span>
    <button mat-button (click)="goToProdajalci()">Prodajalci TODO</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToProfile()">Profile TODO</button>
    <button mat-raised-button color="accent" (click)=logout()>Logout TODO</button>
</mat-toolbar>
<mat-toolbar *ngIf="jeProdajalec()" color="primary">
    <span (click)=goToHome()>Prodajalec</span>
    <button mat-button (click)=goToHome()>Artikli TODO</button>
    <button mat-button (click)=goToStranke()>Stranke TODO</button>
    <button mat-button (click)=goToHome()>Naročila TODO</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToProfile()">Profile TODO</button>
    <button mat-raised-button color="accent" (click)=logout()>Logout TODO</button>
</mat-toolbar>
<mat-toolbar *ngIf="jeStranka()" color="primary">
    <span (click)=goToHome()>Trgovina</span>
    <button mat-button (click)=goToHome()>Artikli TODO</button>
    <button mat-button (click)=goToHome()>Košarica TODO</button>
    <button mat-button (click)=goToHome()>Naročila TODO</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToProfile()">Profile TODO</button>
    <button mat-raised-button color="accent" (click)=logout()>Logout TODO</button>
</mat-toolbar>
<mat-toolbar *ngIf="!jeStranka() && !jeProdajalec() && !jeAdmin()" color="primary">
    <span (click)=goToHome()>Trgovina</span>
    <button mat-button (click)="goToHome()">Artikli TODO</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)=goToLogin()>Login TODO</button>
    <button mat-raised-button color="accent" (click)=goToHome()>Register TODO</button>
</mat-toolbar>

<style>
.example-spacer {
  flex: 1 1 auto;
}
</style>