<mat-card>
    <mat-card-title>Prodajalci</mat-card-title>
    <mat-card-content *ngIf="!razvrsceno">
        <mat-card style="width: 200px">
            <mat-card-title>Vsi prodajalci</mat-card-title>
            <ul class="uporabniki" style="width: 200px">
                <li *ngFor="let prodajalec of prodajalci" (click)="naPodrobnosti(prodajalec)">
                    <span>{{prodajalec.ime}} {{prodajalec.priimek}}</span>
                </li>
            </ul>
        </mat-card>
    </mat-card-content>
    <mat-grid-list *ngIf="razvrsceno" cols="2" >
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Aktivirani prodajalci</mat-card-title>
                <ul class="uporabniki" style="width: 200px">
                    <li *ngFor="let prodajalec of Aprodajalci" (click)="naPodrobnosti(prodajalec)">
                        <span>{{prodajalec.ime}} {{prodajalec.priimek}}</span>
                    </li>
                </ul>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Neaktivirani prodajalci</mat-card-title>
                <ul class="uporabniki" style="width: 200px">
                    <li *ngFor="let prodajalec of Nprodajalci" (click)="naPodrobnosti(prodajalec)">
                        <span>{{prodajalec.ime}} {{prodajalec.priimek}}</span>
                    </li>
                </ul>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button color="primary" (click)="dodaj()">Dodaj</button>
    <button *ngIf="!razvrsceno" mat-raised-button color="primary" (click)="razvrsti()">Razvrsti</button>
    <button *ngIf="razvrsceno" mat-raised-button color="primary" (click)="vsiProdajalci()">Vsi prodajalci</button>
</mat-card>
