<mat-card *ngIf="uporabnik">
    <mat-card-title>
        Profil
    </mat-card-title>
    <mat-card-content>
        <mat-card>
            <mat-list>
                <mat-list-item role="listitem">
                    Ime: {{uporabnik.ime}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Priimek: {{uporabnik.priimek}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Email: {{uporabnik.email}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Geslo: {{uporabnik.geslo}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Vloga: {{vloga}}
                </mat-list-item>
                <mat-list-item *ngIf="jeStranka()" role="listitem">
                    Telefon: {{uporabnik.telefon}}
                </mat-list-item>
                <mat-list-item *ngIf="jeStranka()" role="listitem">
                    Naslov: {{uporabnik.naslov}}
                </mat-list-item>
                <mat-list-item role="listitem" matTooltip={{tooltip}} [ngStyle]="{'background-color': getBarva()}"*ngIf="jeProdajalec()">
                    Pravice: {{pravice}}
                </mat-list-item>
            </mat-list>
        </mat-card>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)=nazaj()>Nazaj</button>
    <button mat-raised-button color="primary" (click)=posodobi()>Posodobi</button>
</mat-card>
